.bg{
    background-image: url("https://wallpaperaccess.com/full/4893706.jpg");
    height: 100vh;
}
.wi{
    margin-left: 300px;
}
.bt{
    margin-bottom: 30px;
    margin-left: 18px;

}
.h{
    width: 558px;
    margin-right: 20px;
    margin-left: -13px;
}
.btt{
    margin-left: 290px;
    margin-bottom: 30px;
    background: #000;
    color:lavender;
}