.btt{
    margin-left: -1px;
   max-width:900px ;   
   
}
.h{
    width: 40px;
    margin-top: 60px;
}
.bg{
    background-image: url("https://wallpaperaccess.com/full/4893706.jpg ");
    height: 100vh;
}